* {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-top: 5px;
  margin-right: 32px;
  margin-bottom: 8px;
  float: right;
  border: 2px solid #146c94;
  padding: 4px 16px ;
  border-radius: 8px;
}

li:hover{
  background-color: #a1dcf8;
  color: black;
}

.nav #logo{
  color: white;
  font-weight: bolder;
  float: left;
  font-size: large;
  margin-top: 6px;
  border: none;
}
.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  /* font-size: medium; */
  font-family: sans-serif;
}

.nav {
  background-color: #146c94;
  height: 42px;
}

.map {
  float: right;
  margin: 12px auto;
}

.map p{
  margin: 0 auto;
  width: fit-content;
  margin-top: -16px;
  margin-bottom: 16px;
  border: 1px solid #146c94;
  padding: 4px 16px;
  border-radius: 8px;
  font-family: cursive;
  box-shadow: 3px 3px #146c94;
  font-size: large;
}

.section {
  width: 800px;
  height: 800px;
}

.section h2 {
  margin: 32px auto;
  width: fit-content;
}

.card {
  width: 350px;
  height: 280px;
  border: 2px solid #146c94;
  margin-left: 30px;
  margin-top: 16px;
  float: left;
  border-radius: 8px;
  background-color: #146b9414;
}

.card img {
  width: 300px;
 display: block;
 margin: 0 auto;
  border-radius: 8px;
}

.card p {
  margin: 16px auto;
  width: fit-content;
  font-weight: bold;
}

.card button {
    display: block;
  margin: 10px auto;
  
  background-color: #146c94;
  color: white;
  border-radius: 18px;
  padding: 8px 16px;
  font-weight: bold;
  border: none;
}

.card button:hover{
   color: black;
   background-color: #a1dcf8;
}

.content_card{
  height: 250px;
  background-color: #146b9414 ;
  width: 1000px;
  border: 3px solid #146c94;
  margin: 32px auto;
  border-radius: 8px;
} 

.content div:nth-child(1){
  margin-top: 64px;
}
.content_card h2{
  margin: 8px 0px 8px 8px;
  width: fit-content;
  font-size: 24px;
}
.content_card img{
border-radius: 8px;
margin-top: 8px;
margin-left: 8px;
height: 180px;
width: auto;
}
.content_card p{
  margin-top: -16px;
  width: 700px;
  float: right;
}

.footer{
  height: 50px;
  color: white;
  background-color: #146c94;
  padding-top:40px ;
}

.footer p{
  margin: 0 auto;
  width: fit-content;
}